html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
	/* text-decoration: none; */
	color: rgb(255, 255, 255);
    text-decoration: none;

}

/* ------------------------------------------------------------------------ */

body { 
    background-color: #000000;
    color: white;
    padding: 2rem;
}

nav {
    color: white;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: space-between;
    font-size: medium;
    align-items: center;
}

nav div ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}


nav div ul li{
    padding-left: 30px;
    font-weight: 700;
    align-items: center;

}

nav div ul li a:hover {
    /* color: black; */
    color: rgb(252, 237, 33);
    border-width: 3px;
    transition: all;
}

.cartPNG {
    height: auto;
    width: 30px;
    align-self: top;
}

#boxCart {
    display: flex;
    flex-flow: row;
    color: white;
    align-items: center;
    justify-items: center;
}

#logo {
    justify-content: start;
    padding-right: 30px;
    font-weight: 800;
    font-size: 30px;
    color: rgb(252, 237, 33);
}

.imgBanner {
    width: 100%;
    max-height: 400px;
    background-position: center;
    object-fit: cover;
    object-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    background-color: #727272;
    padding: 9px;
}

section {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "aside containerA containerA containerA"
    "aside containerA containerA containerA"
    "aside containerA containerA containerA";
}

aside {
    grid-area: "aside";
}
.menu p {
    padding-top: 20px;
}

#searchBar {
    color: black;
}

.containerA {
    grid-area: "containerA";
    display: flex;
    flex-flow: row wrap;
}

#gridProductos {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.card {
    color: black;
    width: 25%;
    padding: 20px 10px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    opacity: 0.9;
}


.cardTitle {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

.cardInfo {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

.cardPrice {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-weight: 700;
}


.cardImg {
    max-width: 80%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.cardButton {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(252, 237, 33);
    align-items: center;
}

.cardButton:hover {
    background-color: gray;
    transition: all 0.5s;
}

button p {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-weight: 400;
    align-self: center;
    font-size: small;
    margin: 10px;
    
}

footer {
    position: static;
    display: flex;
    flex-flow: row;
    opacity: 70%;
    background-color: #727272;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    left: 0px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 0px;
}
