html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
	/* text-decoration: none; */
	color: rgb(255, 255, 255);
    text-decoration: none;

}

/* ------------------------------------------------------------------------ */
:root {
    --rama1: rgb(252, 237, 33);
    --rama2: aqua;
    --rama3: aqua;
    --ramawhite: white;
    --ramablack: black;
  }




body { 
    background-color: var(--ramablack);
    color: var(--ramawhite);
    padding: 2rem;
}

nav {
    color: var(--ramawhite);
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: space-between;
    font-size: medium;
    align-items: center;
}

nav div ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}


nav div ul li{
    padding-left: 30px;
    font-weight: 700;
    align-items: center;

}

nav div ul li button {
    /* background-color: Transparent;
    background-repeat:no-repeat; */
    border: 2px solid var(--ramawhite);
    border-radius: 15px;
}

nav div ul li a:hover {
    /* color: black; */
    color: var(--rama1);
    border-width: 3px;
    transition: all;
}

.boxCart {
    display: flex;
    flex-flow: row;
    color: var(--ramawhite);
    align-items: center;
    justify-items: center;
    transition: all .3s;
}

.boxIMG{
    height: auto;
    width: 40px;
    margin: 5px;
    padding-right: 10px;
}

#contadorCarrito {
    color: var(--ramablack);
    font-size: large;
    font-weight: 600;
    padding-right: 10px;

}

#logo {
    justify-content: start;
    padding-right: 30px;
    font-weight: 800;
    font-size: 50px;
    color: var(--rama1);
}

.imgBanner {
    width: 100%;
    max-height: 400px;
    background-position: center;
    object-fit: cover;
    object-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    background-color: #727272;
    padding: 9px;
}

section {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "aside containerA containerA containerA containerA"
    "aside containerA containerA containerA containerA"
    "aside containerA containerA containerA containerA";
}   

aside {
    grid-area: "aside";
}

#searchBar {
    color: var(--ramablack);
}

.menu p {
    padding-top: 20px;
}

.containerA {
    grid-area: "containerA";
    display: flex;
    flex-flow: row wrap;
}

#gridProductos {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.card {
    color: var(--ramablack);
    width: 20%;
    padding: 20px 10px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: var(--ramawhite);
    opacity: 0.9;
}

.cardTitle {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--ramablack);
    text-align: center;
}

.cardInfo {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--ramablack);
    text-align: center;
}

.cardPrice {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--ramablack);
    text-align: center;
    font-weight: 700;
}

.cardImg {
    max-width: 80%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.cartPNG {
    height: auto;
    width: 100px;
    align-self: top;
}

.cardButton {
    color: var(--ramablack);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--rama1);
    align-items: center;
}

.cardButton:hover {
    background-color: gray;
    transition: all 0.5s;
}

button p {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--ramablack);
    text-align: center;
    font-weight: 400;
    align-self: center;
    font-size: small;
    margin: 10px;
    
}

#filtros {
    margin-top: 10px;
    color: var(--ramablack);
}

footer {
    position: static;
    display: flex;
    flex-flow: row;
    opacity: 70%;
    background-color: #727272;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    left: 0px;
    color: var(--ramawhite);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 0px;
}


.guitarraEnCarrito{
    display: flex;
    flex-flow: row;
    background-color: var(--ramawhite);
    justify-content: space-between;
    align-items: center;
}
.ordenCarrito{
    display: flex;
    flex-flow: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    color: var(--ramablack);
    margin: 10px;
}
#filtroColor {
    color: var(--ramablack);
    margin-bottom: 5px;
}
.filtroColor__Option {
    color: var(--ramablack);
}


.carritoTitle {
    color: var(--rama1);
    font-size: 40px;
}

.cardTitleCarrito {
    color: var(--ramablack);
}

.cardInfoCarrito {
    color: var(--ramablack);

}

#cantidad {
    color: var(--ramablack);

}

.bottonEliminar {
    color: var(--ramablack);

}

.precioProducto {
    color: var(--ramablack);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
}

#precioTotal {
    color: var(--ramablack);
}

.botonAgregarA {
    color: var(--ramablack);
    font-weight: bolder;
    border: transparent;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(138, 138, 138);



}

.botonAgregarB {
    color: var(--ramablack);
    background-color: var(--rama1);
    border: transparent;
    border-radius: 20px;
    font-weight: bolder;
    padding: 15px;

}








/* ! Arreglar */


.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: rgb(255, 255, 255);
    color: #000000;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    color: #000000;

    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: rgb(31, 31, 31);
    color: #000000;

}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
